{  
  "version": 1.0, 
  "sast": {  
    "preset": "FISMA",    
    "engineConfiguration": "Korean"          
  },         
  "additionalProperties": {  
    "cxFlow": {   
      "application": "SSHtest" 
      "jira": {
        "fields": [
          {
            "type": "cx",
            "name": "MutliSelectTest",
            "jira_field_name": "MultiSelectTest",
            "jira_field_type": "multi-select",
            "jira_default_value": "OPT1,OPT2"
          },
          {
            "type": "result",
            "name": "application",
            "jira_field_name": "Application",
            "jira_field_type": "label"
          },
          {
            "type": "result",
            "name": "cwe",
            "jira_field_name": "CWEs",
            "jira_field_type": "label"
          }
        ]
      }
    }
  } 
}
