{  
  "version": 1.0, 
  "sast": {  
    "preset": "FISMA",    
    "engineConfiguration": "Korean"          
  },         
  "additionalProperties": {  
    "cxFlow": {   
      "application": "SSHtest",
      "bugTracker": "JIRA", 
      "jira": {  
        "fields": [ 
          {
            "type": "cx",
            "name": "MultiSelectTest",
            "jira_field_name": "MultiSelectTest", 
            "jira_field_type": "multi-select" 
          },
                    {
            "type": "cx",
            "name": "BusinessOwner",
            "jira_field_name": "Superintendência", 
            "jira_field_type": "multi-select" 
          },
          {
            "type": "cx", 
            "name": "Test",   
            "jira_field_name": "Test",
            "jira_field_type": "label"
          },
          {
            "type": "result",
            "name": "application",
            "jira_field_name": "Application",
            "jira_field_type": "label"
          },
          {
            "type": "result",
            "name": "cwe",
            "jira_field_name": "CWEs",
            "jira_field_type": "label"
          }
        ]
      }
    } 
  },
  "customFields": { 
    "MultiSelectTest": "OPT1,OPT2,OPT3",
    "Test": "Test from config-as-code",
    "BusinessOwner": "Option1,Option2"
  }
}
