{
  "version": 1.0,
  "project": "SSHtest",
  "team": "/CxServer",
  "sast": {
    "preset": "FISMA",
    "engineConfiguration": "Default Configuration",
    "incremental": "false",
    "forceScan": "true",
    "fileExcludes": "",
    "folderExcludes": ""
  },
  "additionalProperties": {
    "cxFlow": {
      "application": "test app",
      "branches": ["develop","master"],
      "bugTracker": "GitHub",
  },
}
